:root {
  --custom-main-font: 'Poppins';
  --primary-color: white;
  --primary-foreground-color: #5e6a72;

  --secondary-color: white;
  --secondary-foreground-color: #293676;

  --accent-color: #00b4c1;
  --accent-foreground-color: white;

  --link-color: white;
  --link-foreground-color: #5e6a72;

  --header-background: url('media/Sparkles.gif');
  //--header-background: #293676;
  --header-foreground: white;

  --footer-background: #5e6a72;
  --footer-foreground: white;

  --breadcrumbs-background: white;
  --breadcrumbs-foreground: #293676;
}
