#footer {
  margin-top: 0;
  text-align: center;

  .footer {
    padding-top: 56px !important;
    padding-bottom: 56px !important;
    border: 0.5px solid #6e7a82;
    border-radius: 40px;
    margin: 40px 10px 10px 10px;
    .logo {
      margin: 1rem 0 1rem 0;
      img {
        width: 300px;
      }
    }
  }
}

.footer-container {
  display: flex;
}

.footer-element {
  display: flex;
  flex: 1 1 33%;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 0 20px 0 20px;
  background-color: #5e6a72;
  box-shadow: 0px 0px 6px 8px white;
  .footer-element-flex {
    display: flex;
    flex: 100%;
    align-items: center;
    align-self: center;
  }
}
